<mat-card class="component-card">
  <mat-card-header>
    <mat-card-title>Dodaj novog korisnika</mat-card-title>
    <mat-card-subtitle>Dodavanje dovog korisnika sistema, uloga i permisije se dodaju naknadno</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <div class="form-container">
      <form [formGroup]="userForm" #form="ngForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field>
          <mat-label>Korisničko ime</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Lozinka</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ime</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prezime</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Broj telefona</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adresa</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Role / Uloge</mat-label>
          <mat-select formControlName="roleIds" required multiple>
            @for (role of roles; track role) {
            <mat-option [value]="role.id">{{role.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Napomena</mat-label>
          <textarea matInput formControlName="note"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
          Dodaj korisnika
        </button>
      </form>
    </div>

  </mat-card-content>

</mat-card>
